// bounce animation
.bounce-enter-active {
  animation: bounce-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes bounce-in {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// face animation
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
